* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url("1.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,transparent,rgba(225,225,225,0.4),transparent);
  transition: .5s ease;
}
.header:hover::after {
  left: 100%;

}
.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-left: 50px;
  font-size: 1.15rem;
}

#check {
  display: none;
}

.icon {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #ffff;
  cursor: pointer;
  display: none;
}

@media (max-width: 920px) {
  .header {
    padding: 1.3rem 5%;
  }
}

#check:checked~.icon #menu-icon{
  display: none;
}

@media (max-width: 768px) {
  .icon {
    display: inline-flex;
  }
  .icon #close {
    display: none;
  }
  #check:checked~.icon #close{
    display: block;
  }
  .navbar {
    position: absolute;
    width: 100%;
    top: 100%;
    height: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: .3s ease-in;
  }

  
  #check:checked~.navbar{
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    transform: translateY(-50px);
    transition: .3s ease;
    opacity: 0;
  }
  #check:checked~.navbar a{
    transform: translateY(0);
    transition-delay: calc(.15s * var(--i));
    opacity: 1;
  }
}
